*{
    margin: 0;
    padding: 0;
}


body{
    background-color: black
}

.father{
    max-width: 1440px;
    height: 100%;
    background-color: white;
    margin: auto;
}

.container{
    position: relative;
    width: 100%;
    height: 310px;
    background-image: url(./assets/img-top-desktop.png);
}

.logo{
    position: absolute;
    top: 35%;
    left: 45%;
}

header{
    max-width: 60%;  
    margin-left: 20%;
}

.textheader1{
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 50px;
   
    text-align: center;
    color: hsl(210, 10%, 33%);
}

.textheader2{
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 24px;
    margin-top:30px;
    text-align: center;
    color: hsl(201, 11%, 66%);
}

.bottom{
    margin-top: 90px;
    text-align: center;
}

.downloadIOS , .downloadMAC{
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 30px;
    margin: 10px;
}

.downloadIOS{
    text-decoration: none;
    border-style: solid;
    border-radius: 40px;
    border-color: #26baa4;
    background-color: #26baa4;
}

.downloadIOS:hover{
    background-color: white;
    color:#26baa4;    
}

.downloadMAC{
    text-decoration: none;
    border-style: solid;
    border-radius: 40px;
    border-color: #6173ff;
    background-color: #6173ff;
}

.downloadMAC:hover{
    background-color: white;
    color:#6173ff;    
}


section{
        max-width: 60%;  
        margin-left: 20%;
        margin-top: 150px;
}


.textsection1{
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 40px;
    text-align: center;
    color: hsl(210, 10%, 33%);
}

.textsection2{
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 22px;
    margin-top:30px;
    text-align: center;
    color: hsl(201, 11%, 66%);
}

.container2{
    margin-top: 120px;
    margin-left: 10%;
}

.cont2{
    max-width: 100%;

}

.textmid{
    position: absolute;
    display: inline-block;
    max-width: 20%;
    margin-left: 100px;
    margin-top: 1%;
}

.textmid h3{
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 25px;
    text-align: left;
    color: hsl(210, 10%, 33%);
    margin-bottom: 20px;
}

.textmid p{
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 20px;
    text-align: left;
    color: hsl(201, 11%, 66%);
    margin-bottom: 50px;
    max-width: 70%;
}

.imgsec{
    margin-top: 100px;
    max-width: 100%;
}

.quasefim{
    margin-top: 50px;
}

.work{
    margin-top: 80px;
    text-align: center;
}

.div1{
    display: inline-block;
    max-width: 400px;
    margin-left: 0px;
    
}

.div2{
    display: inline-block;
    max-width: 400px;
    margin-left: 50px;
    margin-right: 50px;
}

.div3{
    display: inline-block; 
    max-width: 400px;
}

.imgwork{
    margin-bottom: 40px;
}

.h3{
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 23px;
    text-align: center;
    color: hsl(210, 10%, 33%);
    margin-bottom: 20px;
}

.p1{
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 17px;
    text-align: center;
    color: hsl(201, 11%, 66%);
    margin-bottom: 50px;
}

.patrocinadores{
    text-align: center;
}

.patrocinadores img{
    margin-top: 100px;
    margin-left: 68px;
    margin-right: 68px;
}

.download2{
    max-width: 60%;  
    margin-left: 20%;
    margin-top: 150px;
}

footer{
    position: relative;
    background-color:rgba(231, 231, 231, 0.5);
    max-width: 100%;
    height: 170px;
    margin-top: 15%;
}

footer img{
    position: absolute;
    width: 5%;
    margin-top: 4%;
    margin-left: 10%;
}

.contato{
    position: relative;
    max-width: 50%;
    height: 50%;
    margin: auto;
    top: 30%;
}

.par1{
    display: inline-block;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 20px;
    color: hsl(201, 11%, 66%);
    margin-right: 15%;
}

.par2{
    display: inline-block;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 20px;
    color: hsl(201, 11%, 66%);
    margin-right: 7.5%;
    margin-top: 2%;
}

.redes{
    position: absolute;
    width: 13%;
    height: 40px;
    right: 13%;
    top:40%
}

.imgredes{
    position: relative;
    width: 15%;
    text-align: center;
}